body {
    margin: 0px;
    padding: 0px;
}

.main_header{
    overflow-x: hidden;
    overflow: hidden
}

.nav_email {
    background-color: rgb(0, 0, 0);
    height: 35px;
    position: relative;
}

.nav_email img {
    width: 30px;
    position: relative;
    margin-left: 25px;
    margin-top: 5px;
    /* border: 3px solid blue; */
    font-size: 13px;
}

.Email_txt {
    margin-left: 15px;
    position: absolute;
    color: white;
    /* border: 3px solid blue; */
    margin-top: 13px;
}

.nav_call img {
    margin-left: 280px;
    width: 25px;

}

.call_txt {
    color: white;
    font-size: 15px;
}

.nav_profile img {
    width: 35px;
    position: absolute;
    /* padding-left: 1150px; */
    margin-top: 1px;

}

.profile_txt {
    color: white;
    margin-left: 860px;
    margin-top: 15px;
    font-size: 15px;
    position: absolute;
}

.nav_checkout img {
    width: 35px;
    position: absolute;
    /* padding-left: 1150px; */
    margin-top: 3px;
}

.checkout_txt {
    color: white;
    margin-left: 740px;
    margin-top: 15px;
    font-size: 15px;
    position: absolute;
}


.nav_wishlist img {
    width: 30px;
    position: absolute;
    /* padding-left: 1150px; */
    margin-top: 5px;
}

.wishlist_txt {
    color: white;
    margin-left: 590px;
    margin-top: 15px;
    font-size: 15px;
    position: absolute;
}



/*   //////////////  main _ navbar ////////// */


.nav_main {
    height: 90px;
    /* background-color: rgb(225, 241, 241); */
    background-color: rgba(107, 169, 210, 0.604);

    /* border: 2px solid black; */
}

.main_logo img {
    width: 170px;
    position: relative;
    margin-top: -40px;
    margin-left: 100px;
}

 
.Links ul {
    display: flex;
    justify-content: center;
    margin-top: -95px;
   
}



.Links li {
    margin: 24px;
    text-decoration: none;
    list-style-type: none;
    font-size: 22px;
    margin-top: -5px;
    font-size: bold;
    color: black;
}




.Links a {

    text-decoration: none;

}


.nav_line {
    position: absolute;
    margin-top: -32px;
    margin-left: 380px;
}

.Search_input input {
    margin-left: 400px;
    position: absolute;
    margin-top: -10px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 70px;
    border: transparent;
    outline: none;
    /* background-color: rgba(107, 169, 210, 0.604); */
    background-color: rgba(107, 169, 210, 0.000);
}

.Search_input input::placeholder {
    font-size: 17px;
    

}

.Search_input img {
    width: 35px;
    margin-left: 678px;
    position: absolute;
    margin-top: -9px;
}

.Select_Category input {
    margin-left: 800px;
    position: absolute;
    margin-top: -10px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 70px;
    border: transparent;
    border: none;
    outline: none;
    background-color: rgba(107, 169, 210, 0.000);

}

.Select_Category input::placeholder {
    font-size: 17px;

}



.Select_Category img {
    margin-left: 1150px;
    width: 40px;
    position: absolute;
    margin-top: -15px;
}


.strect_line {
    font-size: 47px;
    margin-left: 750px;
    margin-top: -26px;
    position: absolute;
}

.cart_img img {
    margin-left: 1145px;
    position: absolute;
    margin-top: -60px;
    width: 45px;
}


.nav_main_icon{
    display: none;
}


/* ///////////  menu css ///// */


.main_menu {
    width: 100%;
    height: 150px;
    background-color: rgba(107, 169, 210, 0.604);
    display: none;
}

.menu_signin span{
  margin-left: 200px;
  margin-top: 100px;
  display: none;
}

.main_menu img{
  margin-left: 20px;
  margin-top: 23px;
  opacity: 1.5;
  display: none;
   
}

.main_logo_menu img{
  margin-left: 50px;
  margin-top: -60px;
  display: none;
}

.main_logo_menu span{
  margin-left: 260px;
  font-size: 23px;
  margin-top: -30px;
  position: absolute;
display: none;
}


.menu_signin img{
  margin-left: 315px;
  margin-top: -40px;
 font-weight: 20px;
 width:43px;
  position: absolute;
  display: none;
}

.menu_cart_img img{
  position: absolute;
  margin-left: 365px;
  width: 43px;
  margin-top: -36px;
  display: none;

}


.menu_input input{
  padding: 12px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: none;
  display: none;
}





